name: ClashX

on: [push]

env:
  FASTLANE_SKIP_UPDATE_CHECK: true

jobs:
  build:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v2
    - name: import certs
      run: |
        echo `/usr/bin/xcodebuild -version`
        rm -f .github/certs/dist.p12.enc
        mkdir -p .github/certs/
        echo "${{ secrets.CERT_CONTENT_ENC }}" > .github/certs/dist.p12.enc
        openssl aes-256-cbc -k "${{ secrets.ENCRYPTION_SECRET }}" -in ".github/certs/dist.p12.enc" -d -a -out ".github/certs/dist.p12" -md md5
        gem install bundler:1.16.2
        bundle install

    - name: setup Go 1.16
      uses: actions/setup-go@v2
      with:
        go-version: 1.16.x
    
    - name: update beta build version
      if: contains(github.event.head_commit.message, '[beta]') && !startsWith(github.ref, 'refs/tags/')
      run: |
        bundle exec fastlane beta
        bundle exec fastlane run set_info_plist_value path:ClashX/Info.plist key:BETA value:YES

    - name: build
      env:
        CODE_SIGN_IDENTITY: "${{ secrets.DEVELOPER_ID }}"
        CERTIFICATE_PASSWORD: ${{ secrets.CERTIFICATE_PASSWORD }}
        SM_JOB_BLESS_REQ: ${{ secrets.SM_JOB_BLESS_REQ }}
      run: |
        bash install_dependency.sh
        cd ClashX
        python3 add_build_info.py
        cd ..
        #ls -lahF
        #cat ClashX/goClash/go.sum
        bundle exec fastlane build
        #ls -lahF
        #echo "SMJobBless setreq"
        #python SMJobBlessUtil.py setreq LoveX.app ClashX/Info.plist ProxyConfigHelper/Helper-Info.plist
        #cat ClashX/Info.plist
        #cat ProxyConfigHelper/Helper-Info.plist
        #rm -rvf LoveX.app
        #bundle exec fastlane build
        echo "Checking SMJobBless Vailded"
        python SMJobBlessUtil.py check LoveX.app
        echo "Check done"
    
    - name: SSH connection to Actions
      uses: P3TERX/ssh2actions@v1.0.0
      if: github.actor == github.repository_owner && contains(github.event.head_commit.message, '[ssh]')
        
    - name: setup node
      #if: startsWith(github.ref, 'refs/tags/')
      uses: actions/setup-node@v1
      with:
        node-version: '10.x'
        
    - name: create dmg
      #if: startsWith(github.ref, 'refs/tags/')
      run: |
        npm install --global create-dmg
        create-dmg LoveX.app --identity="${{ secrets.DEVELOPER_ID }}"
        #create-dmg LoveX.app || true
        mv LoveX*.dmg LoveX.dmg

    - name: Prepare upload
      if:  contains(github.event.head_commit.message, '[up]') && !startsWith(github.ref, 'refs/tags/')
      run: |
        echo "FILE_DATE=_$(date +"%F")" >> $GITHUB_ENV
        echo "FILE_SHA=$(git describe --tags --always 2>/dev/null)" >> $GITHUB_ENV
        
    - name: Upload DMG to Github Artifacts
      if: contains(github.event.head_commit.message, '[up]') && !startsWith(github.ref, 'refs/tags/')
      uses: actions/upload-artifact@v2
      with:
        name: LoveX_${{ env.FILE_SHA }}${{ env.FILE_DATE }}.dmg
        path: LoveX.dmg
            
    - name: upload build to github releases
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        files: LoveX.dmg
        #draft: true
        prerelease: true

    - name: update gitpage
      if: startsWith(github.ref, 'refs/tags/')
      env:
        GITHUB_TOKEN: ${{ secrets.GITPAGE_TOKEN }}
      run: |
        curl -u yaling888:$GITHUB_TOKEN -X POST -H "Accept: application/vnd.github.v3+json" https://api.github.com/repos/yaling888/clashX/pages/builds

    - name: Delete workflow runs
      uses: GitRML/delete-workflow-runs@main
      with:
        retain_days: 1
        keep_minimum_runs: 2
    
    - name: Delete older releases
      uses: dev-drprasad/delete-older-releases@v0.2.0
      if: startsWith(github.ref, 'refs/tags/') && !cancelled()
      with:
        #repo: <owner>/<repoName> # defaults to current repo
        keep_latest: 1
        #delete_tag_pattern: beta # defaults to ""
        delete_tags: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
